#weather-description {
  text-transform: capitalize;
}

#weather-today {
  margin: 0 auto;
  display: block;
}

#weekly-weather {
  padding: 20px;
}

.webpage {
  width: 900px;
  margin: 0 auto;
  background-color: #B4C6A6;
  border: 0.5rem outset #B4C6A6;
  border-radius: 12px;
  font-family: "Comfortaa", cursive;
  color: #66806A;
}

h1,
h2,
h3 {
  text-align: center;
  color: #66806A;
}

h2 {
  text-transform: capitalize;
  font-size: small;
  font-weight: lighter;
  margin-bottom: 30px;
  font-style: italic;
}

h3 {
  margin-bottom: 30px;
  text-transform: capitalize;
}

a {
  color: #66806A;
}

.card-title {
  font-weight: bold;
}

.weather-unit {
  font-size: 20px;
  display: inline;
  position: relative;
  top: -43px;
  left: 30px;
}

.credit {
  display: inline;
}


p.current-date {
  text-align: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
}


