.card {
  background-color: #B4C6A6;
  border: none;
}

.button {
  background-color: #FFC286;
  color: #66806A;
  border: 3px solid #FFC286;
  border-radius: 20px;
}

.button:hover {
  color: #66806A;
  background-color: #FFF1AF;
  display: inline;
  border: 3px solid #FFF1AF;
  border-radius: 20px;
}

.search-bar {
  margin-right: 30px;
  margin-bottom: 15px;
 
}

.weather-icon {
  font-size: 40px;
}

.weather ul {
  list-style: none;
  padding-top:15px;
  padding-left:0;
}

.weather .todays-temp {
  font-size: 26px;
  padding: 26px 20px 0px 20px;
}

.weather .location {
  padding-top: 30px;
}

.weather .todays-temp a {
  text-decoration: none;
}

.weather .current-unit {
  font-weight: bold;
}