.card {
  background-color: #8e2735;
  border: none;
}

.button {
  background-color: #611919;
  color: #faf189;
  border: 3px solid rgba(97, 25, 25, 0.5);
  border-radius: 20px;
}

.button:hover {
  color: #00587a;
  background-color: #e7e7de;
  display: inline;
  border: 3px solid rgba(0, 88, 122, 0.5);
  border-radius: 20px;
}

.search-bar {
  margin-right: 15px;
  margin-bottom: 15px;
}

.weather-icon {
  font-size: 40px;
}

.weather ul {
  list-style: none;
  padding-top:10px;
  padding-left:0;
}

.weather .todays-temp {
  font-size: 26px;
  padding: 20px 20px;
}